<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-6 col-lg-3 col-xl-3 color"> 
            <div class="card">
                <img class="top_image" src="../assets/img/image.png" alt="image.png">
            </div>
            
            <h1>Contact</h1>
            <p>bookwarmdev@gmail.com</p>
            <p>+2348183570304</p>
            <p>2, caxton close, Surelere, 
                Lagos State. </p> 
    
            <div class="skills">
                <h1>Skills</h1>
                <p>Mobile App Design</p>
                <p>Graphics Design</p>
            </div>
            <div class="Software">
                <h1>Software</h1>
                <p>Android Studio</p>
                <p>Netbeans Ide</p>
                <p>Corel Draw</p>
                <p>Photoshop</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-6 col-lg-3 col-xl-9 color_2">
            <h2 style="color: rgb(88, 70, 187); font-size: 2em; font-family: Verdana, Geneva, Tahoma, sans-serif;">AMOO OWOLABI</h2>
            <h1 style="color: black; font-size: 5em; font-family:  Arial-bold, sans-serif;">FARUK</h1>

        <div>
            <h2>MOBILE APP DEVELOPER</h2>
            <p>I thrive in high-pressure and fast-paced situations, striving for positive results by applying my mobil interactivity and mobile UI abilities. </p>
        </div>
        <div>
            <h2 class="info">PERSONAL INFORMATION</h2>
            <p>woking gives me a lot of skills experience that I believe make me best suited for the position that is being offered with a position of mobile app developer.</p>
        </div>
        <div>
            <h2 class="info">EDUCATION</h2>
            <h3 class="info_detail">2017-2019</h3>
            <h4>National Diploma</h4>
            <p>Kwara State Polytechnic, Ilorin Kwara State</p>
            <h3 class="info_detail">2011-2017</h3>
            <h4>Secondary Certificate </h4>
            <p>Sure Star Grammar School</p>
            <h3 class="info_detail">2005-2011</h3>
            <h4>Primary Certificate</h4>
            <p>Helpers International Nursery and Primary School</p>

        </div>

        <div>
            <h2 class="info">WORKING EXPERIENCE</h2>

            <h3 class="info_detail">2020</h3>
            <h4>presently</h4>
            <p>BinCom ict solution</p>

            <h3 class="info_detail">    2020</h3>
            <h4>Photoeditor</h4>
            <p>K-Sudio</p>

            <h3 class="info_detail">2018-2019</h3>
            <h4>Android Developer</h4>
            <p>Rollar Cecilee Communication Limited</p>

            <h3 class="info_detail">2015-2017</h3>
            <h4>Graphic Design</h4>
            <p>Skill Crown Concept Eng</p>

            <h3 class="info_detail">2015-2016</h3>
            <h4>Computer Enginer</h4>
            <p>KAM Technology computer service</p>
        </div>

        </div>
    </div>
</div>
<div class="footer" style="background-color: rgba(0, 0, 0, 0.603); text-align: center; color: white; "> 
    <img src="../assets/img/bincomlog.png" alt="BinCom" style="width: 10%; height: 40%; margin-top: 30px;">
    <h4 style="font-family: 'Times New Roman', Times, serif;">BINCOM ICT</h4>
    <p style="padding-bottom: 30px;">copyights © 2020 Bincom ICT</p>
</div>
     